* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: arial;
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.container p {
  color: black;
  font-weight: bolder;
}

.top-wrapper {
  padding: 180px 0 180px 0;
  background-image: url(https://images.squarespace-cdn.com/content/5187cd71e4b0046126ddd7c5/1572721196947-OGXRAW18QS9CXLF36EN2/?content-type=image%2Fjpeg);
  background-size: cover;
  color: #E11910;
  text-align: center;
  font-family: helvetica;
}


.top-wrapper h1 {
  opacity: 1.0 ;
  font-size: 30px;
  letter-spacing: 5px;
  margin-bottom: 10px;


}

.top-wrapper p {
  color: black;
  font-weight: bold;
  text-align: center;
  font-size: 25px;
  font-family: arial;
  font-style: oblique;
}


span {
  color: black;
}

.top-wrapper p {
  opacity: 1;
  margin-bottom: 3px;
}

.btn-wrapper {
  text-align: center;
  margin: 20px 0;
}

.btn-wrapper p {
  margin: 10px 0;
}


.facebook {
  background-color: #3b5998;
  margin-right: 10px;
}

.twitter {
  background-color: #55acee;
}

.email {
  background-color: #524d54;
  margin-right: 10px;
}

.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}

.btn:hover {
  opacity: 1;
}

.fa {
  margin-right: 5px;
}

header {
  height: 65px;
  width: 100%;
  background-color: rgba(255, 255, 0);
  position :fixed;
  top: 0;
  z-index: 10;
}

.logo {
  width: 124px;
  margin-bottom: 10px;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: Black;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

/* Tambahkan CSS untuk menu-icon */
.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px;

  /* Gantikan property display ke none */
  display: none;
}


.lesson-wrapper {
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #F9CB40;
  text-align: center;
}

.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #FF715B;
}

.heading h2 {
  font-weight: bold;
  font-family: impact;
  color:#160D9E;
}

.lesson {
  float: left;
  width: 25%;
}

.lesson-icon {
  position: relative;
  margin-right: 20px;


}

.lesson-icon p {
  position: absolute;
  top: 44%;
  width: 100%;
  color: white;
  font-weight: bolder;
}

.text-contents {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 15px;
  color: #000000;
  font-family: helvetica;
  text-align: center;
  font-weight: bold;
}

.heading-message {
  font-weight: bold;
}

.message-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
  background-image: url(https://c4.wallpaperflare.com/wallpaper/54/325/66/work-in-progress-wallpaper-preview.jpg);
  background-size: cover;
}

.message {
  padding: 15px 40px;
  background-color: #5dca88;
  cursor: pointer;
  box-shadow: 0 7px #1a7940;
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

.message-wrapper h2,h3 {
  color:white;
  font-weight:normal;
}

footer img {
  width: 125px;

}

footer p {
  color: #b3aeb5;
  font-size: 12px;
}

footer {
  padding-top: 30px;
  padding-bottom: 20px;

}
